<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A brief history of Third Monday, LLC.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2003-2005</h4>
                                    <h4 class="subheading">Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Third Monday, LLC was established by our founders to do independent consulting work after the demise of the company that employed them. The company name is a reference to the monthly dividend delivery date for investors of a local brewery.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/markus-spiske-iar-afB0QQw-unsplash-200.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2005</h4>
                                    <h4 class="subheading">A Significant Project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Third Monday, LLC signed a significant contract to build an advanced neuro-technology software solution that would eventually become the core product for our client.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/frederik-hojfeldt-nielsen-eEpF3zcICfE-unsplash-200.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2010</h4>
                                    <h4 class="subheading">Into Hibernation</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our neuro-technology client hired us full-time, effectively placing Third Monday, LLC into a hibernation state. Although no longer pursuing new business, Third Monday, LLC has continued to support a few small customers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/dimitar-donovski-5UHoCUnPiV4-unsplash-200.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2020</h4>
                                    <h4 class="subheading">An Unexpected Twist</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The pandemic brought about a rather sudden change for Third Monday, LLC, and our founders have been separately engaged for several years.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2024</h4>
                                    <h4 class="subheading">The Next Chapter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We're excited to breathe new life into Third Monday, LLC by returning to our independent work with small and mid-size businesses to help them craft some really cool software solutions.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>